// Variables
$black: black;
$white: white;
$red: red;
$font-family: "Josefin Sans", sans-serif;

// Base styles
body {
  font-family: $font-family;
  color: $black;
}

.top {
  padding-bottom: 20px;
  overflow: hidden;
  background-color: $black;
  color: $white;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 20px;

  ul {
    display: flex;
    list-style: none;
    margin-right: 100px;

    li {
      a {
        text-decoration: none;
        color: $white;
        padding-left: 88px;
        font-size: 20px;
      }
    }
  }
}

.title {
  color: $red;
  margin: 20% 0 5% 24%;
  font-size: 23px;

  h4 {
    font-size: 18px;
    color: $white;
  }
}

button {
  margin-top: 10px;
  height: 40px;
  width: 120px;
  color: $white;
}

// Section styles
section {
  margin-left: 20%;
}

.about {
  color: $white;
  margin-top: 20%;
  font-size: 25px;
  .about-content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items */
  }

  .about-text {
    margin-left: 5%;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 60%; /* Limit width of text */

    color: $white;
  }
  .about-image {
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 20px; /* Reduced space between text and image */
  }
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
    }
  }
}

h2 {
  margin-left: 5%;
  margin-top: 10%;
  text-decoration: underline;
  color: $red;
  font-size: 22px;
}

// Work section
.work {
  height: 600px;
  align-items: flex-start;
  padding: 20px;
  color: $black;

  h2 {
    margin-top: 0;
  }

  ul {
    margin-top: 40px;
    margin-left: 10%;
    list-style: none;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-left: 3px;
    font-size: 15px;
    font-style: italic;
  }
}

// Projects section
.projects {
  margin-top: 100px;
  padding: 40px;
  height: fit-content;
  width: fit-content;
}

.ecommerce-site {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  height: 400px;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 30px;

  img {
    width: 95%;
    height: 100%;
    padding: 2px;
    object-fit: cover;
    border: 1px solid $black;
    border-radius: 10px;
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-left: 15px;
    width: 95%;
  }

  h2,
  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  h2 {
    top: 10%;
  }

  p {
    top: 30%;
    width: 300px;
  }

  .button-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 3;

    button {
      color: $white;
      background-color: $red;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      margin: 0 5px;
      opacity: 0;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Contact form styles
.contact-form {
  height: 150px;
  background-color: $black;
  color: $white;
  margin-left: 0;

  .contact {
    color: $white;
    padding-top: 5px;
    text-align: center;
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  li {
    list-style-type: none;
    padding-bottom: 20px;
  }
}

.hover-text {
  font-size: 15px;
  margin: 2px 0;
}

.email {
  color: $white;
  margin-left: 600px;
  width: fit-content;
}

.contact-links {
  display: flex;
  flex-direction: column;
  transform: translateY(-80px);
}

// Responsive styles
@media only screen and (max-width: 450px) {
  section {
    margin-left: 2px !important;
    overflow: hidden;
  }

  ul {
    margin-left: 2px !important;
  }

  .work {
    height: fit-content;

    p {
      font-size: 15px !important;
    }
  }

  .projects {
    margin-top: 200px;
  }

  .ecommerce-site {
    margin-left: 2px !important;
    width: 90% !important;
  }

  .email {
    margin-left: 130px !important;
    font-size: 15px;
  }
}
